<!-- snippets/homepage-blog-posts.liquid -->
<div id="homepage-blog">
  <h2><span>{{ 'layout.homepage.blog_title' | t }}</span></h2>
  <ul id="featured-posts">
    {% for article in blogs[settings.homepage-blog].articles limit: 3 %}
    <li class="desktop-4 mobile-3">
      <a href="{{ article.url }}">
        <h3 class="text-center">{{ article.title }}</h3>
      </a>
      {% assign published_at = article.published_at | date: format: 'month_date_year' %}
      <p class="date text-center">{{ 'blogs.article.posted_on_date_html' | t: date: published_at }}</p> 
      <div id="homepage-excerpt"> 
        {% if article.image %}<img class="article-image" src="{{ article.image | img_url: 'grande' }}" alt="{{ article.title }}">{% endif %}
          <div class="clear"></div>
          {% if article.excerpt == blank %}
          {{ article.content | strip_html | truncate: 90 }}
          {% else %}
          {{ article.excerpt }}
          {% endif %}                                   
      </div>
      <div id="homepage-content">
        <div class="text-left"><a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }}</a>
          {% if blog.comments_enabled? %}
          <div class="text-right">
            <a href="{{article.url}}#comments">{{ article.comments_count }} {{ 'blogs.article.comments' | t }}</a>
          </div>
          {% endif %}
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>  
</div>
<div class="clear"></div>