<!-- snippets/homepage-images2.liquid -->
<div id="promo-images">
    <div class="desktop-4 tablet-2 mobile-3">
      <a href="{{ settings.leftlink }}"><img src="{{ 'leftpromo.jpg' | asset_url }}" alt="{{ shop.name }}"/></a>
    </div>
    <div class="desktop-4 tablet-2 mobile-3">
      <a href="{{ settings.midlink }}"><img src="{{ 'midpromo.jpg' | asset_url }}" alt="{{ shop.name }}"/></a>
    </div>    
    <div class="desktop-4 tablet-2 mobile-3">
      <a href="{{ settings.rightlink }}"><img src="{{ 'rightpromo.jpg' | asset_url }}" alt="{{ shop.name }}"/></a>
    </div>
  </div>
  
  <div class="clear"></div>  